{% extends "html/page.twig" %}

{% block title %}Create report{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base }}/public/css/report_list.css"/>
{% endblock %}

{% block header %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ base }}/public/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/eclipse");
        editor.getSession().setMode("ace/mode/sql");

        $("#updateReport").on('submit', function () {
            $('#hiddenSql').val(editor.getSession().getDocument().getAllLines().join("\n"));
            return true;
        });
    </script>

{% endblock %}

{% block content %}
    <div class="row">
        <div id="table_of_contents" class="col-lg-2 col-md-3 hidden-xs hidden-sm bs-sidebar">
            <h2>Tables</h2>
            <ol class="nav bs-sidenav">
                <li>
                    <form method="post">
                        <input type="hidden" name="report" value="{{ report.id }}"/>
                        <input type="hidden" name="subject" value="report"/>
                        <input type="hidden" name="action" value="add-column"/>

                        <label for="column">Column</label>
                        {% for table in dataSource.databaseTables %}
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#dataTable{{ table.id }}">{{ table.name }}
                            </button>
                            <div class="collapse" id="dataTable{{ table.id }}">
                                {% for column in table.databaseColumns %}
                                    <label><input type="radio" name="column" value="{{ column.id }}">{{ column.name }}
                                    </label><br/>
                                {% endfor %}
                            </div>
                            {% endfor %}

                        <input type="submit" value="Add" class="btn btn-default"/>
                    </form>
                </li>
            </ol>
        </div>

        <div id="report_list" class="col-lg-4 col-md-4 col-xs-12 col-lg-offset-2 col-md-offset-3">
            <form method="post" id="updateReport">
                <input type="hidden" name="subject" value="report"/>
                <input type="hidden" name="action" value="update"/>
                <input type="hidden" name="report" value="{{ report.id }}"/>

                <h1 class="visible-phone">Edit report</h1>

                <label for="sql_mode">SQL Mode:</label>
                <div class="radio">
                    <label><input type="radio" name="sql_mode" id="sql_mode" value="0"
                                  {% if not report.sqlMode %}checked="checked"{% endif %}/> Generated</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="sql_mode" value="1"
                                  {% if report.sqlMode %}checked="checked"{% endif %}/> Manual</label>
                </div>

                <label for="sql_code">SQL Code:</label>
                <div id="editor" class="form-control" style="width: 100%; height: 400px;">{{ report.sqlCode }}</div>
                <input type="hidden" id="hiddenSql" name="sql_code"/>

                <ul>
                    <li>Columns
                        <ul>
                            {% for column in report.getDatabaseColumnDataTypes %}
                                <input type="hidden" name="columns[]" value="{{ column.0.id }}"/>
                                <li>{{ column.0.databaseTable.name }}.{{ column.0.name }} ( {{ column.1 }} )</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

                <div class="col-lg-12">
                    <button type="button" class="btn btn-default collapsed" data-toggle="collapse"
                            data-target="#chartOptions">Chart options
                    </button>
                </div>
                <div class="collapse" id="chartOptions">

                    <label for="report_type">Chart type</label>
                    <select name="report_type" id="report_type" class="form-control">
                        {% for chartType in chartTypes %}
                            <option name="{{ chartType }}"
                                    {% if report.type == chartType %}
                                        selected="selected"
                                    {% endif %}
                            >
                                {{ chartType }}
                            </option>
                        {% endfor %}
                    </select>
                    <label for="name">Report name:</label>
                    <input type="text" size="30" name="name" id="name" placeholder="Report name"
                           value="{{ report.name }}"
                           class="form-control"/>

                    <label for="h_axis_title">Horizontal Axis Title:</label>
                    <input type="text" size="30" name="h_axis_title" id="h_axis_title"
                           placeholder="Horizontal Axis Title"
                           value="{{ report.hAxisTitle }}"
                           class="form-control"/>

                    <label for="v_axis_title">Vertical Axis Title:</label>
                    <input type="text" size="30" name="v_axis_title" id="v_axis_title" placeholder="Vertical Axis Title"
                           value="{{ report.vAxisTitle }}"
                           class="form-control"/>
                </div>

                <div class="col-lg-12">
                    <button type="button" class="btn btn-default collapsed" data-toggle="collapse"
                            data-target="#reportVariables">Variables
                    </button>
                </div>
                <div class="collapse" id="reportVariables">
                    <label for="variable_name">Variable name (used in SQL statement)</label>
                    <input name="variable_name" value="{{ report.variables.first.name }}" id="variable_name" type="text"
                           class="form-control"/>

                    <label for="display_name">Display name:</label>
                    <input type="text" size="30" name="display_name" id="display_name" placeholder="Report name"
                           value="{{ report.variables.first.displayName }}"
                           class="form-control"/>

                    <label for="variable_type">Type:</label>
                    <select name="variable_type" id="variable_type"
                            class="form-control">
                        <option value="text"
                                {% if report.variables.first.type == 'text' %}selected="selected"{% endif %}>
                            Text
                        </option>
                        <option value="select"
                                {% if report.variables.first.type == 'select' %}selected="selected"{% endif %}>
                            Select
                        </option>
                        <option value="textarea"
                                {% if report.variables.first.type == 'textarea' %}selected="selected"{% endif %}>
                            Textarea
                        </option>
                        <option value="date"
                                {% if report.variables.first.type == 'date' %}selected="selected"{% endif %}>
                            Date
                        </option>
                        <option value="daterange"
                                {% if report.variables.first.type == 'daterange' %}selected="selected"{% endif %}>
                            Date
                            range
                        </option>
                    </select>

                    <div>
                        <h3>Popuplate table with database results:</h3>

                        <label for="database_table">Database table:</label>
                        <input type="text" size="30" name="database_table" id="database_table"
                               placeholder="Table" maxlength="255"
                               value="{{ report.variables.first.databaseTable }}"
                               class="form-control"/>

                        <label for="database_column">Database value column:</label>
                        <input type="text" size="30" name="database_column" id="database_column"
                               placeholder="Value column" maxlength="255"
                               value="{{ report.variables.first.databaseColumn }}"
                               class="form-control"/>

                        <label for="database_display">Database column (optional column for the display value, defaults
                            to value column):</label>
                        <input type="text" size="30" name="database_display" id="database_display"
                               placeholder="Display column" maxlength="255"
                               value="{{ report.variables.first.databaseDisplay }}"
                               class="form-control"/>

                        <label for="database_where">Database column (display value):</label>
                        <textarea cols="30" name="database_where" id="database_where"
                                  placeholder="Where clause"
                                  class="form-control">{{ report.variables.first.databaseWhere }}</textarea>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="database_all" value="1"
                                       {% if report.variables.first.databaseAll != 0 %}checked="checked"{% endif %}/>
                                Include 'all' option
                            </label>
                        </div>
                    </div>

                    <label for="variable_default">Default value:</label>
                    <input type="text" size="30" name="variable_default" id="variable_default"
                           placeholder="Default value"
                           value=""
                           class="form-control"/>

                    <div class="checkbox">
                        <label><input type="checkbox" name="variable_empty" value="1"
                                      {% if report.variables.first.empty != 0 %}checked="checked"{% endif %}/> Value may
                            be
                            empty</label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" name="variable_multiple" value="1"
                                      {% if report.variables.first.multiple == 1 %}checked="checked"{% endif %}/>
                            Multiple values are allowed</label>
                    </div>
                </div>

                <input type="submit" value="Update" class="btn btn-primary"/>
            </form>
        </div>
        <div class="col-lg-6 col-md-6">
            <iframe src="http://dev.yardinternet.nl/timothe/php-reports/report/chart/?report={{ report.id }}/&amp;content_only=true"
                    id="chart_container" class="auto-height" scrolling="no" style="width: 100%; height: 403px;"
                    frameborder="0"></iframe>
        </div>
    </div>
{% endblock %}