{% extends "html/page.twig" %}

{% block title %}Create report{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base }}/public/css/report_list.css"/>
{% endblock %}

{% block header %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ base }}/public/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/eclipse");
        editor.getSession().setMode("ace/mode/sql");

        $("#updateReport").on('submit', function () {
            $('#hiddenSql').val(editor.getSession().getDocument().getAllLines().join("\n"));
            return true;
        });

        $('#variable_type').on('change', function () {
            var selectedOption = $(this).val();
            if (selectedOption == 'select') {
                $('#databaseOptions').show();
            } else {
                $('#databaseOptions').hide();
            }
        });
    </script>

{% endblock %}

{% block content %}
    <div class="row">
        <div id="table_of_contents" class="col-lg-2 col-md-3 hidden-xs hidden-sm bs-sidebar">
            <h2>Tables</h2>
            <ol class="nav bs-sidenav">
                <li>
                    <form method="post">
                        <input type="hidden" name="report" value="{{ report.id }}"/>
                        <input type="hidden" name="subject" value="report"/>
                        <input type="hidden" name="action" value="add-column"/>

                        <label for="column">Column</label>
                        {% for table in dataSource.databaseTables %}
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#dataTable{{ table.id }}">{{ table.name }}
                            </button>
                            <div class="collapse" id="dataTable{{ table.id }}">
                                {% for column in table.databaseColumns %}
                                    <label><input type="radio" name="column" value="{{ column.id }}">{{ column.name }}
                                    </label><br/>
                                {% endfor %}
                            </div>
                            {% endfor %}

                        <input type="submit" value="Add" class="btn btn-default"/>
                    </form>
                </li>
            </ol>
        </div>

        <div id="report_list" class="col-lg-4 col-md-4 col-xs-12 col-lg-offset-2 col-md-offset-3">
            <form method="post" id="updateReport">
                <input type="hidden" name="subject" value="report"/>
                <input type="hidden" name="action" value="update"/>
                <input type="hidden" name="report" value="{{ report.id }}"/>

                <h1 class="visible-phone">
                    Edit report
                    <a href="{{ base }}/report/?report={{ report.id }}" class="btn btn-info">View report</a>
                </h1>

                <label for="name">Report name:</label>
                <input type="text" size="30" name="name" id="name" placeholder="Report name"
                       value="{{ report.name }}"
                       class="form-control"/>

                <label for="sql_mode">SQL Mode:</label>
                <div class="radio">
                    <label><input type="radio" name="sql_mode" id="sql_mode" value="0"
                                  {% if not report.sqlMode %}checked="checked"{% endif %}/> Generated</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="sql_mode" value="1"
                                  {% if report.sqlMode %}checked="checked"{% endif %}/> Manual</label>
                </div>

                <label for="sql_code">SQL Code:</label>
                <div id="editor" class="form-control" style="width: 100%; height: 400px;">{{ report.sqlCode }}</div>
                <input type="hidden" id="hiddenSql" name="sql_code"/>

                <ul>
                    <li>Columns
                        <ul>
                            {% for column in report.getDatabaseColumnDataTypes %}
                                <input type="hidden" name="columns[]" value="{{ column.0.id }}"/>
                                <li>{{ column.0.databaseTable.name }}.{{ column.0.name }} ( {{ column.1 }} )</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

                <div class="col-lg-12">
                    <button type="button" class="btn btn-default collapsed" data-toggle="collapse"
                            data-target="#chartOptions">Chart options
                    </button>
                </div>
                <div class="collapse" id="chartOptions">

                    <label for="report_type">Chart type</label>
                    <select name="report_type" id="report_type" class="form-control">
                        {% for chartType in chartTypes %}
                            <option name="{{ chartType }}"
                                    {% if report.type == chartType %}
                                        selected="selected"
                                    {% endif %}
                            >
                                {{ chartType }}
                            </option>
                        {% endfor %}
                    </select>

                    <label for="h_axis_title">Horizontal Axis Title:</label>
                    <input type="text" size="30" name="h_axis_title" id="h_axis_title"
                           placeholder="Horizontal Axis Title"
                           value="{{ report.hAxisTitle }}"
                           class="form-control"/>

                    <label for="v_axis_title">Vertical Axis Title:</label>
                    <input type="text" size="30" name="v_axis_title" id="v_axis_title" placeholder="Vertical Axis Title"
                           value="{{ report.vAxisTitle }}"
                           class="form-control"/>
                </div>

                <h3>
                    Variables
                    <button type="button" class="btn btn-default" data-toggle="modal"
                            data-target=".variableModal">
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Add Variable
                    </button>
                </h3>
                    <ul>
                        {% for variable in report.variables %}
                            <li>
                                {{ variable.displayName }}
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"
                                        data-target=".variableModal{{ variable.id }}">
                                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Edit
                                </button>
                                <form action="" method="post" style="display: inline-block;">
                                    <input type="hidden" name="subject" value="report"/>
                                    <input type="hidden" name="action" value="delete-variable"/>
                                    <input type="hidden" name="variable" value="{{ variable.id }}"/>
                                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal"
                                            data-target=".variableModal{{ variable.id }}">
                                        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Delete
                                    </button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>

                <input type="submit" value="Update" class="btn btn-success"/>
            </form>
        </div>
        <div class="col-lg-6 col-md-6">
            <iframe src="http://dev.yardinternet.nl/timothe/php-reports/report/chart/?report={{ report.id }}/&amp;content_only=true"
                    id="chart_container" class="auto-height" scrolling="no" style="width: 100%; height: 403px;"
                    frameborder="0"></iframe>
        </div>
    </div>
    {% set variable = newVariable %}
    {% include 'ManageReport/editVariable.twig' %}
    {% for variable in report.variables %}
        {% include 'ManageReport/editVariable.twig' %}
    {% endfor %}
{% endblock %}