{% extends "html/page.twig" %}

{% block title %}Add Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12 col-lg-offset-2 col-md-offset-3">
            <h2>Dashboards</h2>
            <ul>
                {% for dashboard in dashboards %}
                    <li>
                        <form action="index.php" method="post" style="display: inline-block;">
                            <input type="hidden" name="subject" value="dashboard"/>
                            <input type="hidden" name="action" value="delete"/>
                            <input type="hidden" name="dashboard" value="{{ dashboard.id }}"/>

                            <button type="submit" class="btn btn-danger btn-sm" aria-label="Delete">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </form>
                        <a href="{{ base }}/manage-dashboard/edit/?dashboard={{ dashboard.id }}">{{ dashboard.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}