{% extends "html/page.twig" %}

{% block title %}Configure{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base }}/public/css/report_list.css"/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="row">
        <div id="table_of_contents" class="col-lg-2 col-md-3 hidden-xs hidden-sm bs-sidebar">
            <h2>Configuration</h2>
            <ol class="nav bs-sidenav">
                <li class="active">
                    <a href="{{ base }}/data-source/manage">Manage Data Sources</a>
                </li>
                <li class="disabled">
                    <a href="">Data Types</a>
                </li>
                <li class="disabled">
                    <a href="">Join Tables</a>
                </li>
            </ol>
        </div>

        <div id="report_list" class="col-lg-10 col-md-9 col-xs-12 col-lg-offset-2 col-md-offset-3">
            <h1 class="visible-phone">All Data Sources</h1>
            <div class="well well-small">
                <table cellspacing="0" cellpadding="3">
                    <thead>
                    <tr>
                        <th>Data source</th>
                        <th>Configure</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dataSource in dataSources %}
                        <tr>
                            <td>{{ dataSource.databaseName }}</td>
                            <td style="text-align: center;">

                                <a href="{{ base }}/data-source/configure-tables/{{ dataSource.databaseName }}"
                                   class="btn btn-info btn-xs">
                                    <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ base }}/data-source/edit/{{ dataSource.id }}"
                                   class="btn btn-warning btn-xs">
                                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="well well-small">
                <div>
                    {% include 'DataSource/editForm.twig' %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}